In [1]:
import pandas as pd
import os
os.getcwd()

In [2]:
# Read 2018 CSV Files
jan2018 = pd.read_csv('bike_csvs/JC-201801-citibike-tripdata.csv')
feb2018 = pd.read_csv('bike_csvs/JC-201802-citibike-tripdata.csv')
mar2018 = pd.read_csv('bike_csvs/JC-201803-citibike-tripdata.csv')
apr2018 = pd.read_csv('bike_csvs/JC-201804-citibike-tripdata.csv')
may2018 = pd.read_csv('bike_csvs/JC-201805-citibike-tripdata.csv')
jun2018 = pd.read_csv('bike_csvs/JC-201806-citibike-tripdata.csv')
jul2018 = pd.read_csv('bike_csvs/JC-201807-citibike-tripdata.csv')
aug2018 = pd.read_csv('bike_csvs/JC-201808-citibike-tripdata.csv')
sep2018 = pd.read_csv('bike_csvs/JC-201809-citibike-tripdata.csv')
oct2018 = pd.read_csv('bike_csvs/JC-201810-citibike-tripdata.csv')
nov2018 = pd.read_csv('bike_csvs/JC-201811-citibike-tripdata.csv')
dec2018 = pd.read_csv('bike_csvs/JC-201812-citibike-tripdata.csv')

In [3]:
data2018 = pd.concat([jan2018, feb2018, mar2018, apr2018, may2018, jun2018, jul2018, aug2018, sep2018, oct2018, nov2018, dec2018]).reset_index(drop=True)
print(data2018.shape)
print(data2018.columns)
data2018.sample(5)

(353892, 15)
Index(['tripduration', 'starttime', 'stoptime', 'start station id',
       'start station name', 'start station latitude',
       'start station longitude', 'end station id', 'end station name',
       'end station latitude', 'end station longitude', 'bikeid', 'usertype',
       'birth year', 'gender'],
      dtype='object')

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
278119,215,2018-10-30 17:51:26.7850,2018-10-30 17:55:02.2790,3186,Grove St PATH,40.719586,-74.043117,3203,Hamilton Park,40.727596,-74.044247,29226,Subscriber,1984,1
242638,343,2018-09-16 12:15:25.2230,2018-09-16 12:21:08.4750,3195,Sip Ave,40.730743,-74.063784,3193,Lincoln Park,40.724605,-74.078406,29656,Subscriber,1990,2
351556,873,2018-12-17 13:59:21.9850,2018-12-17 14:13:55.2390,3483,Montgomery St,40.719420,-74.050990,3202,Newport PATH,40.727224,-74.033759,26221,Customer,1984,1
32265,260,2018-03-31 13:19:16.4480,2018-03-31 13:23:37.0800,3187,Warren St,40.721124,-74.038051,3272,Jersey & 3rd,40.723332,-74.045953,29271,Subscriber,1980,1
52639,364,2018-04-13 16:19:52.9540,2018-04-13 16:25:56.9810,3195,Sip Ave,40.730743,-74.063784,3207,Oakland Ave,40.737604,-74.052478,29541,Subscriber,1984,2

In [4]:
# Read 2019 CSV Files
jan2019 = pd.read_csv('bike_csvs/JC-201901-citibike-tripdata.csv')
feb2019 = pd.read_csv('bike_csvs/JC-201902-citibike-tripdata.csv')
mar2019 = pd.read_csv('bike_csvs/JC-201903-citibike-tripdata.csv')
apr2019 = pd.read_csv('bike_csvs/JC-201904-citibike-tripdata.csv')
may2019 = pd.read_csv('bike_csvs/JC-201905-citibike-tripdata.csv')
jun2019 = pd.read_csv('bike_csvs/JC-201906-citibike-tripdata.csv')
jul2019 = pd.read_csv('bike_csvs/JC-201907-citibike-tripdata.csv')
aug2019 = pd.read_csv('bike_csvs/JC-201908-citibike-tripdata.csv')
sep2019 = pd.read_csv('bike_csvs/JC-201909-citibike-tripdata.csv')
oct2019 = pd.read_csv('bike_csvs/JC-201910-citibike-tripdata.csv')
nov2019 = pd.read_csv('bike_csvs/JC-201911-citibike-tripdata.csv')
dec2019 = pd.read_csv('bike_csvs/JC-201912-citibike-tripdata.csv')

In [5]:
data2019 = pd.concat([jan2019, feb2019, mar2019, apr2019, may2019, jun2019, jul2019, aug2019, sep2019, oct2019, nov2019, dec2019]).reset_index(drop=True)
print(data2019.shape)
print(data2019.columns)
data2019.sample(5)

(404947, 15)
Index(['tripduration', 'starttime', 'stoptime', 'start station id',
       'start station name', 'start station latitude',
       'start station longitude', 'end station id', 'end station name',
       'end station latitude', 'end station longitude', 'bikeid', 'usertype',
       'birth year', 'gender'],
      dtype='object')

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
280078,716,2019-09-12 07:46:54.3150,2019-09-12 07:58:51.0160,3196,Riverview Park,40.744319,-74.043991,3186,Grove St PATH,40.719586,-74.043117,26170,Subscriber,1991,1
27295,258,2019-02-28 12:39:21.2640,2019-02-28 12:43:40.1300,3202,Newport PATH,40.727224,-74.033759,3275,Columbus Drive,40.718355,-74.038914,29676,Subscriber,1988,1
181967,717,2019-07-09 17:43:46.2240,2019-07-09 17:55:44.0420,3268,Lafayette Park,40.713464,-74.062859,3186,Grove St PATH,40.719586,-74.043117,29503,Customer,1999,1
46780,389,2019-03-18 04:42:32.0500,2019-03-18 04:49:01.1890,3199,Newport Pkwy,40.728745,-74.032108,3183,Exchange Place,40.716247,-74.033459,26260,Subscriber,1994,1
232143,553,2019-08-12 14:17:52.1530,2019-08-12 14:27:05.5920,3195,Sip Ave,40.730897,-74.063913,3193,Lincoln Park,40.724605,-74.078406,29303,Subscriber,1967,1

In [6]:
# Read 2020 CSV Files
jan2020 = pd.read_csv('bike_csvs/JC-202001-citibike-tripdata.csv')
feb2020 = pd.read_csv('bike_csvs/JC-202002-citibike-tripdata.csv')
mar2020 = pd.read_csv('bike_csvs/JC-202003-citibike-tripdata.csv')
apr2020 = pd.read_csv('bike_csvs/JC-202004-citibike-tripdata.csv')
may2020 = pd.read_csv('bike_csvs/JC-202005-citibike-tripdata.csv')
jun2020 = pd.read_csv('bike_csvs/JC-202006-citibike-tripdata.csv')
jul2020 = pd.read_csv('bike_csvs/JC-202007-citibike-tripdata.csv')
aug2020 = pd.read_csv('bike_csvs/JC-202008-citibike-tripdata.csv')
sep2020 = pd.read_csv('bike_csvs/JC-202009-citibike-tripdata.csv')
oct2020 = pd.read_csv('bike_csvs/JC-202010-citibike-tripdata.csv')
nov2020 = pd.read_csv('bike_csvs/JC-202011-citibike-tripdata.csv')
dec2020 = pd.read_csv('bike_csvs/JC-202012-citibike-tripdata.csv')

In [7]:
data2020 = pd.concat([jan2020, feb2020, mar2020, apr2020, may2020, jun2020, jul2020, aug2020, sep2020, oct2020, nov2020, dec2020]).reset_index(drop=True)
print(data2020.shape)
print(data2020.columns)
data2020.sample(5)

(336802, 15)
Index(['tripduration', 'starttime', 'stoptime', 'start station id',
       'start station name', 'start station latitude',
       'start station longitude', 'end station id', 'end station name',
       'end station latitude', 'end station longitude', 'bikeid', 'usertype',
       'birth year', 'gender'],
      dtype='object')

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
139898,518,2020-07-02 18:21:26.1520,2020-07-02 18:30:04.5120,3639,Harborside,40.719252,-74.034234,3276,Marin Light Rail,40.714584,-74.042817,42206,Customer,1969,0
228578,703,2020-09-07 09:34:52.6170,2020-09-07 09:46:36.2720,3276,Marin Light Rail,40.714584,-74.042817,3277,Communipaw & Berry Lane,40.714358,-74.066611,42195,Subscriber,1982,1
16003,188,2020-01-20 16:42:47.6880,2020-01-20 16:45:56.4360,3207,Oakland Ave,40.737604,-74.052478,3210,Pershing Field,40.742677,-74.051789,26174,Subscriber,1991,1
260983,325,2020-10-01 17:00:58.0590,2020-10-01 17:06:23.5830,3639,Harborside,40.719252,-74.034234,3639,Harborside,40.719252,-74.034234,25176,Subscriber,1990,1
188986,507,2020-08-09 19:27:17.7030,2020-08-09 19:35:45.0640,3199,Newport Pkwy,40.728745,-74.032108,3639,Harborside,40.719252,-74.034234,44770,Customer,1962,1

In [8]:
# Read 2021 CSV Files
jan2021 = pd.read_csv('bike_csvs/JC-202101-citibike-tripdata.csv')
feb2021 = pd.read_csv('bike_csvs/JC-202102-citibike-tripdata.csv')
mar2021 = pd.read_csv('bike_csvs/JC-202103-citibike-tripdata.csv')
apr2021 = pd.read_csv('bike_csvs/JC-202104-citibike-tripdata.csv')
may2021 = pd.read_csv('bike_csvs/JC-202105-citibike-tripdata.csv')
jun2021 = pd.read_csv('bike_csvs/JC-202106-citibike-tripdata.csv')
jul2021 = pd.read_csv('bike_csvs/JC-202107-citibike-tripdata.csv')
aug2021 = pd.read_csv('bike_csvs/JC-202108-citibike-tripdata.csv')

In [9]:
data2021 = pd.concat([jan2021, feb2021, mar2021, apr2021, may2021, jun2021, jul2021, aug2021]).reset_index(drop=True)
print(data2021.shape)
print(data2021.columns)
data2021.sample(5)

(350222, 28)
Index(['tripduration', 'starttime', 'stoptime', 'start station id',
       'start station name', 'start station latitude',
       'start station longitude', 'end station id', 'end station name',
       'end station latitude', 'end station longitude', 'bikeid', 'usertype',
       'birth year', 'gender', 'ride_id', 'rideable_type', 'started_at',
       'ended_at', 'start_station_name', 'start_station_id',
       'end_station_name', 'end_station_id', 'start_lat', 'start_lng',
       'end_lat', 'end_lng', 'member_casual'],
      dtype='object')

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,...,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
174322,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2021-07-08 08:11:14,Sip Ave,JC056,Baldwin at Montgomery,JC020,40.730897,-74.063913,40.723659,-74.064194,member
101726,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2021-05-28 08:41:37,Hoboken Terminal - River St & Hudson Pl,HB102,Clinton St & 7 St,HB303,40.735953,-74.029178,40.745420,-74.033320,casual
63964,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2021-05-20 20:56:38,Bloomfield St & 15 St,HB203,Church Sq Park - 5 St & Park Ave,HB601,40.754530,-74.026580,40.742659,-74.032233,member
150746,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2021-06-11 18:52:06,Hamilton Park,JC009,JC Medical Center,JC011,40.727595,-74.044247,40.716540,-74.049638,member
239694,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2021-07-24 15:39:43,7 St & Monroe St,HB304,Hoboken Terminal - Hudson St & Hudson Pl,HB101,40.746413,-74.037977,40.735938,-74.030305,casual

In [10]:
data2018to21 = pd.concat([data2018, data2019, data2020, data2021]).reset_index(drop=True)
data2018to21.sample(5)

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,...,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
428807,235.0,2019-04-21 13:52:21.9130,2019-04-21 13:56:17.4050,3202.0,Newport PATH,40.727224,-74.033759,3187.0,Warren St,40.721124,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
735490,91.0,2019-11-26 09:09:32.8660,2019-11-26 09:11:04.5210,3638.0,Washington St,40.724294,-74.035483,3202.0,Newport PATH,40.727224,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
117151,135.0,2018-06-14 08:02:03.7980,2018-06-14 08:04:19.7270,3198.0,Heights Elevator,40.748716,-74.040443,3196.0,Riverview Park,40.744319,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
412908,542.0,2019-03-18 21:35:04.0670,2019-03-18 21:44:06.8220,3483.0,Montgomery St,40.719420,-74.050990,3272.0,Jersey & 3rd,40.723332,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1117534,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2021-03-30 09:20:24,Grove St PATH,JC005,Columbus Drive,JC014,40.719586,-74.043117,40.718355,-74.038914,casual

In [11]:
# investigating whether there are suspicious data points
data2018to21['birth year'].unique()

array([1992., 1969., 1946., 1994., 1991., 1982., 1958., 1989., 1960.,
       1976., 1985., 1974., 1968., 1988., 1990., 1980., 1995., 1981.,
       1978., 1983., 1966., 1965., 1986., 1971., 1954., 1993., 1970.,
       1984., 1987., 1975., 1964., 1962., 1955., 1963., 1999., 1957.,
       1956., 1972., 1973., 1941., 1952., 1977., 1967., 1961., 1959.,
       1979., 1949., 1998., 1931., 1997., 1887., 1950., 1953., 1947.,
       1996., 1948., 1951., 1888., 2002., 2000., 2001., 1944., 1942.,
       1945., 1940., 1900., 1939., 1943., 1904., 2003., 1918., 1889.,
       1905., 1901., 1938., 2004., 1920., 1930., 1933.,   nan])

In [12]:
# filtering out dobs that would make the user greater than 90 years old
d201821 = data2018to21[data2018to21['birth year'] >= 1931]
print(d201821['birth year'].unique())
d201821.sample(5)

[1992. 1969. 1946. 1994. 1991. 1982. 1958. 1989. 1960. 1976. 1985. 1974.
 1968. 1988. 1990. 1980. 1995. 1981. 1978. 1983. 1966. 1965. 1986. 1971.
 1954. 1993. 1970. 1984. 1987. 1975. 1964. 1962. 1955. 1963. 1999. 1957.
 1956. 1972. 1973. 1941. 1952. 1977. 1967. 1961. 1959. 1979. 1949. 1998.
 1931. 1997. 1950. 1953. 1947. 1996. 1948. 1951. 2002. 2000. 2001. 1944.
 1942. 1945. 1940. 1939. 1943. 2003. 1938. 2004. 1933.]

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,...,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
11651,212.0,2018-01-23 07:07:41.2390,2018-01-23 07:11:13.3460,3279.0,Dixon Mills,40.721630,-74.049968,3186.0,Grove St PATH,40.719586,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
481976,257.0,2019-05-29 08:41:13.9930,2019-05-29 08:45:31.3270,3278.0,Monmouth and 6th,40.725685,-74.048790,3186.0,Grove St PATH,40.719586,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
445351,1583.0,2019-04-28 04:16:14.5970,2019-04-28 04:42:37.7150,3638.0,Washington St,40.724294,-74.035483,3678.0,Fairmount Ave,40.725726,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
593238,654.0,2019-08-16 17:27:22.8430,2019-08-16 17:38:17.2740,3186.0,Grove St PATH,40.719586,-74.043117,3278.0,Monmouth and 6th,40.725685,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
180013,164.0,2018-07-22 00:43:11.2840,2018-07-22 00:45:55.9250,3279.0,Dixon Mills,40.721630,-74.049968,3186.0,Grove St PATH,40.719586,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
# copying index to a column to create a unique id for each trip
d201821['tripID'] = d201821.index
d201821 = d201821[['tripID', 'tripduration', 'starttime', 'stoptime', 'start station id',
    'start station name', 'start station latitude',
    'start station longitude', 'end station id', 'end station name',
    'end station latitude', 'end station longitude', 'bikeid', 'usertype',
    'birth year', 'gender']]
d201821.sample(5)

<ipython-input-13-5cfeac452315>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  d201821['tripID'] = d201821.index

,tripID,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
778210,778210,427.0,2020-01-24 09:12:16.9500,2020-01-24 09:19:24.4710,3211.0,Newark Ave,40.721525,-74.046305,3184.0,Paulus Hook,40.714145,-74.033552,26294.0,Subscriber,1987.0,1.0
377440,377440,235.0,2019-02-27 05:22:39.1450,2019-02-27 05:26:34.4770,3186.0,Grove St PATH,40.719586,-74.043117,3205.0,JC Medical Center,40.716540,-74.049638,29445.0,Subscriber,1993.0,1.0
1012894,1012894,3138.0,2020-09-26 06:06:25.7630,2020-09-26 06:58:43.9070,3269.0,Brunswick & 6th,40.726012,-74.050389,3267.0,Morris Canal,40.712419,-74.038526,42350.0,Subscriber,1992.0,1.0
652281,652281,467.0,2019-09-23 07:06:50.3530,2019-09-23 07:14:38.3430,3186.0,Grove St PATH,40.719586,-74.043117,3213.0,Van Vorst Park,40.718489,-74.047727,29251.0,Subscriber,1956.0,1.0
846830,846830,282.0,2020-05-18 18:32:59.0690,2020-05-18 18:37:41.4820,3195.0,Sip Ave,40.730897,-74.063913,3194.0,McGinley Square,40.725340,-74.067622,42350.0,Subscriber,1989.0,2.0

In [14]:
# exporting full dataset
d201821.to_csv('bike_csvs/newdata1821.csv', index=False)